<div class="drop-item-zone">
    <img src="systems/pf2e/icons/actions/craft/unknown-item.webp"
         class="item-icon">
    <input type="text"
           class="item-name"
           value="Drag item here..."
           name="summary-item-name"
           disabled>
    <span class="item-level-spacer">Item</span>
    <span class="item-level">??</span>
</div>