<div class="item-summary">
    <div class="summary-details">
        <img src={{project.img}}
             class="item-icon">
        <span class="item-name">{{#if (gt project.batchSize 1)}}{{project.batchSize}}x
            {{/if}}{{project.name}}</span>
        <span class="item-level-spacer">Item</span>
        <span class="item-level">{{project.baseItem.level}}</span>
    </div>
    <hr>
</div>