<section class="tab {{tab.cssClass}}"
         data-group="{{tab.group}}"
         data-tab="{{tab.id}}">
    {{> modules/pf2e-heroic-crafting/templates/menu/salvage/tab-navigation.hbs tabs=salvageTabs }}
    {{> modules/pf2e-heroic-crafting/templates/menu/salvage/tabs/existing.hbs }}
    {{> modules/pf2e-heroic-crafting/templates/menu/salvage/tabs/new.hbs }}
</section>