<div class="drop-item-zone">
    <img src="systems/pf2e/icons/actions/craft/unknown-item.webp"
         class="item-icon">
    <span class="item-name">Drag item here...</span>
    <span class="item-level-spacer">Item</span>
    <span class="item-level">??</span>
</div>