<section class="tab {{tab.cssClass}}"
         data-group="{{tab.group}}"
         data-tab="{{tab.id}}">
    <button data-action="forage"
            class="custom-button"><i class="window-icon fa-fw fa-solid fa-solid fa-leaf"
           inert=""></i>Forage Crafted Resources</button>
</section>