<div class="drop-item-zone">
    <img src="{{item.img}}"
         class="item-icon">
    <span class="item-name">{{item.name}}</span>
    <span class="item-level-spacer">Item</span>
    <span class="item-level">{{padStart item.level 2 "0"}}</span>
</div>