.material-form {
	gap: 0.5rem;

	h4 {
		margin: 0.5rem 0 0;
	}

	label {
		line-height: normal;
	}
}

.edit-material-trove-dialog {
	.materials-summary {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: stretch;
		justify-content: space-between;
		gap: 0.5rem;

		hr {
			margin: 0.5rem 0;
		}

		.material-details {
			flex: 4;
			display: flex;
			flex-direction: column;
			align-items: stretch;
			text-align: center;
			gap: 0;

			.title {
				padding-top: 0.5rem;
				font-weight: bold;
				flex: 0;
			}

			.value {
				padding: 0.3rem;
				display: flex;
				flex-direction: column;
				justify-content: center;
				flex: 1;

				.lose {
					color: red;
				}

				.gain {
					color: green;
				}
			}
		}

		.material-decoration {
			flex: 3;
			align-self: flex-end;
		}
	}

	.money-form {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		gap: 0.5rem;
		align-items: flex-end;

		.form-group {
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			align-items: center;
		}
	}
}

.salvage-dialog {
	.drop-item-zone {
		display: flex;
		align-items: center;
		margin: 0 2px 5px;

		.item-icon {
			height: 32px;
			width: 32px;
			margin-right: 1em;
		}

		.item-level-spacer {
			margin-left: auto;
		}

		.item-level {
			margin-left: 0.5em;
			text-align: right;
			width: 17px;
		}
	}

	.details {
		max-height: 600px;
		transition: all 1s;

		&.hide {
			visibility: hidden;
			max-height: 0;
			padding: 0;
			margin: 0;
			opacity: 0;
		}

		hr {
			max-height: 20px;
			transition: all 1s;

			&.hide {
				visibility: hidden;
				max-height: 0;
				padding: 0;
				margin: 0;
				opacity: 0;
			}
		}

		.savvy-teardown {
			h4 {
				margin: 0;
			}

			max-height: 150px;
			transition: all 1s;

			&.hide {
				visibility: hidden;
				max-height: 0;
				padding: 0;
				margin: 0;
				opacity: 0;
			}
		}

		.maximum {
			h4 {
				margin: 0;
			}
		}

		.income {
			h4 {
				margin: 0.5rem 0;
			}

			.result-details {
				display: flex;
				gap: 1em;

				--input-background-color: var(--color-cool-5);
				--input-border-color: var(--color-cool-4);
				--input-text-color: var(--color-light-4);
				--color-form-label: var(--color-light-4);

				.result-group {
					display: flex;
					flex: 1;
					flex-direction: column;
					align-items: center;

					span {
						color: var(--color-form-label);
						font-weight: bold;
					}

					div {
						background: var(--input-background-color);
						border: 1px solid var(--input-border-color);
						border-radius: 4px;
						color: var(--input-text-color);
						padding: 0 0.5rem;
						line-height: var(--input-height);
						width: 100%;
					}
				}
			}
		}

		.duration {
			h4 {
				margin: 0;
			}

			max-height: 100px;
			transition: all 1s;

			&.hide {
				visibility: hidden;
				max-height: 0;
				padding: 0;
				margin: 0;
				opacity: 0;
			}
		}

		& > div:last-child {
			margin-bottom: 0.75rem;
		}
	}
}

.salvage-dialog .footer-button-panel,
.begin-project-dialog .footer-button-panel,
.reverse-engineer-dialog .footer-button-panel,
.craft-project-dialog .footer-button-panel,
.forage-location-level-dialog .footer-button-panel,
.forage-dc-dialog .footer-button-panel,
.edit-project-dialog .footer-button-panel {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 1em;

	button {
		flex: 1;
	}
}

.begin-project-dialog div.begin-project-summary .begin-project-craft-summary div.input-group,
.edit-project-dialog div.edit-project-summary .edit-project-check-summary div.input-group {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;

	label {
		flex: 1;
	}

	div.input-fields {
		flex: 2;

		&.batch-fields {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 3px;

			button {
				flex: 1;
				height: var(--input-height);
			}
			input {
				flex: 8;
			}
		}
	}
}

.begin-project-dialog div.begin-project-summary .begin-project-craft-summary,
.edit-project-dialog div.edit-project-summary .edit-project-check-summary {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	h4 {
		margin: 0;
	}
}

.begin-project-dialog
	div.begin-project-summary
	.begin-project-start-summary
	.material-list
	.basic-material
	.item-summary,
.edit-project-dialog
	div.edit-project-summary
	.begin-project-item-details-summary
	.material-list
	.basic-material
	.item-summary {
	display: flex;
	align-items: center;
	margin: 0 2px;

	.item-icon {
		height: 32px;
		width: 32px;
		margin-right: 1em;
	}
}

.begin-project-dialog {
	div.begin-project-summary {
		padding-bottom: 0.5rem;

		.begin-project-start-summary {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;

			h4 {
				margin: 0;
			}

			.total-starting {
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;
				justify-content: flex-end;
				margin: 0.5em 0;

				span {
					white-space: nowrap;
				}

				.seperator {
					flex-grow: 1;
					text-align: center;
				}
			}

			.material-list {
				display: flex;
				flex-direction: column;
				gap: 0.5rem;
				min-height: 0;
				overflow-y: auto;

				hr {
					height: 1px;
					margin: 0;
					flex: 0 0 1px;
				}

				.basic-material {
					display: flex;
					flex-direction: column;
					gap: 5px;
				}
			}
		}
	}
}

.begin-project-dialog .money-group,
.craft-project-dialog .money-group,
.edit-project-dialog .money-group {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	align-items: center;
	color: var(--color-form-label);

	.input-group {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex: 1;

		label {
			font-weight: 700;
		}

		.input-fields {
			width: 100%;
		}
	}

	.input-group:hover {
		label {
			color: var(--color-form-label-hover);
		}
	}
}

.begin-project-dialog .drop-item-zone,
.edit-project-dialog .edit-item-summary .item-summary,
.edit-project-dialog .edit-item-summary .spell-summary {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0.5rem 0 0;

	&.hide {
		visibility: hidden;
		max-height: 0;
		padding: 0;
		margin: 0;
		opacity: 0;
	}

	.embed-svg {
		flex: 0 0 auto;
	}

	.item-icon,
	.spell-icon {
		height: 32px;
		width: 32px;
		margin-right: 1em;
		flex: 0 0 auto;
	}

	input {
		padding: 0px;
		&:disabled {
			background-color: #00000000;
			border-color: #00000000;
			color: var(--color-text-primary);
		}
	}

	.item-level-spacer,
	.spell-rank-spacer {
		margin-left: auto;
	}

	.item-level,
	.spell-rank {
		margin-left: 0.5em;
		text-align: right;
		width: 17px;
	}
}

.reverse-engineer-dialog {
	.drop-item-zone {
		display: flex;
		align-items: center;
		margin: 0 2px 5px;

		.item-icon {
			height: 32px;
			width: 32px;
			margin-right: 1em;
		}

		.item-level-spacer {
			margin-left: auto;
		}

		.item-level {
			margin-left: 0.5em;
			text-align: right;
			width: 17px;
		}
	}
}

.craft-project-dialog:not(.minimized, .maximizing, .minimizing) {
	min-width: 400px;
	min-height: 290px;
}

.craft-project-dialog {
	.item-summary {
		flex: 0;

		& .summary-details {
			display: flex;
			align-items: center;
			margin: 0 2px 5px;

			.item-icon {
				height: 32px;
				width: 32px;
				margin-right: 1em;
			}

			.item-level-spacer {
				margin-left: auto;
			}

			.item-level {
				margin-left: 0.5em;
				text-align: right;
				width: 17px;
			}
		}

		hr {
			margin: 0.5rem 0 0;
		}
	}

	.project-summary {
		flex: 0;

		h4 {
			line-height: 1.5em;
			margin: 0;
		}

		.progress-bar {
			height: var(--input-height);
			width: calc(100% - 4px);
			background-color: #6f6c66;
			border: 2px inset #000000;
			border-radius: 4px;
			margin-bottom: 4px;
			position: relative;

			.overlap-bars {
				width: 100%;
				display: flex;
				flex-direction: row;
				height: 100%;

				&.result-bars {
					position: absolute;
					top: 0;
					left: 0;
				}
			}

			.internal-bar {
				background-color: #00f000;

				&.invisible-bar {
					opacity: 0;
				}
				&.criticalFailure-bar {
					background-color: var(--color-pf-text-critical-failure);
					height: 80%;
					align-self: flex-end;
				}
				&.failure-bar {
					background-color: var(--color-pf-text-failure);
				}
				&.success-bar {
					background-color: var(--color-pf-text-success);
				}
				&.criticalSuccess-bar {
					background-color: var(--color-pf-text-critical-success);
				}
				&.start {
					border-top-left-radius: 2px;
					border-bottom-left-radius: 2px;
				}
				&.end {
					border-bottom-right-radius: 2px;
					border-top-right-radius: 2px;
				}
			}
		}

		.project-progress-line {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: flex-end;

			span {
				white-space: nowrap;
			}

			.seperator {
				flex-grow: 1;
				text-align: center;
			}
		}
	}

	.material-summary {
		display: flex;
		flex-direction: column;
		flex: 1;
		min-height: 50px;

		hr {
			margin: 0.5rem 0;
			flex: 0 0 auto;
		}

		h4 {
			margin: 0;
		}

		.total-material {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: flex-end;
			margin: 0.5em 0;

			span,
			strong {
				white-space: nowrap;
			}

			.seperator {
				flex-grow: 1;
				text-align: center;
			}
		}

		.duration-select {
			margin-bottom: 0.5rem;
		}

		.material-list {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
			min-height: 0;
			overflow-y: auto;

			hr {
				height: 1px;
				margin: 0;
				flex: 0 0 1px;
			}

			.basic-material,
			.treasure-material {
				display: flex;
				flex-direction: column;
				gap: 5px;

				&.hide {
					display: none;
				}

				.item-summary {
					display: flex;
					align-items: center;
					margin: 0 2px;

					.item-icon {
						height: 32px;
						width: 32px;
						margin-right: 1em;
					}
				}
			}
		}
	}

	.footer-button-panel {
		flex: 0;
		margin-top: 0.5em;
	}
}

.forage-location-level-dialog .footer-button-panel {
	margin-top: 0.5rem;
}

section.heroic-crafting-menu:not(.minimized, .maximizing, .minimizing) {
	min-width: 650px;
	min-height: 150px;
}

section.heroic-crafting-menu {
	--list-border-color: var(--color-light-4);
	color: var(--color-light-3);
	section.window-content {
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 0;

		section.tab {
			padding-left: 1rem;
			padding-right: 1rem;
			padding-top: 0.75rem;
			padding-bottom: 1rem;
			overflow: hidden auto;
		}

		.seperator {
			width: 100%;
			display: flex;
			align-items: center;
			margin: 0.5rem 0;

			div {
				flex: 1;
				border-top: 3px double var(--color-light-4);
			}

			span {
				margin: 0 0.25em;
			}
		}

		div.charcter-summary {
			display: flex;
			justify-content: space-between;
			padding: 0 16px 8px;
			--row-size: 1.8em;
			--image-max: calc(var(--row-size) * 2);
			.chracter-info {
				display: grid;
				align-items: center;
				grid-template-rows: repeat(2, var(--row-size));
				grid-template-areas:
					"image name"
					"image level";
				column-gap: 0.5rem;
				img {
					max-width: var(--image-max);
					max-height: var(--image-max);
					grid-area: image;
					border-radius: 2px;
					box-shadow: 0 0 0 1px #918c88, 0 0 0 2px #e1d8cf, 0 0 0 3px #a98f39,
						inset 0 0 8px rgba(0, 0, 0, 0.5), 0 0 8px black;

					&:hover {
						cursor: pointer;
					}
				}

				h3 {
					grid-area: name;
					margin: 0;
				}
				span {
					grid-area: level;
				}
			}

			.money-info {
				display: grid;
				grid-template-rows: repeat(2, var(--row-size));
				grid-template-columns: max-content max-content 10rem;
				grid-template-areas:
					". coinage-label coinage-value"
					"materials-edit materials-label materials-value";
				column-gap: 0.5rem;
				align-items: center;

				.total-coinage-label {
					grid-area: coinage-label;
				}
				.total-coinage-value {
					grid-area: coinage-value;
					justify-self: end;
				}
				.crafting-materials-edit {
					grid-area: materials-edit;
				}
				.crafting-materials-label {
					grid-area: materials-label;
				}
				.crafting-materials-value {
					grid-area: materials-value;
					justify-self: end;
				}
			}
		}

		section.tab.begin-project .custom-button,
		section.tab.craft-project .custom-button,
		section.tab.salvage .custom-button,
		section.tab.reverse-engineer .custom-button {
			margin: auto;
			width: 80%;
			height: 2.25rem;
		}

		.heroic-list {
			list-style-type: none;
			padding: 0;
			margin-top: 0;
			margin-bottom: 0;
			.heroic-header,
			.heroic-item {
				display: grid;
				margin: 0;
				align-items: center;
				justify-items: center;
				border: 1px solid var(--list-border-color);
				padding: 0;
			}

			.heroic-header {
				background-color: rgba(96, 88, 86, 0.25);
			}

			.heroic-header .heroic-header-name,
			.heroic-item .heroic-item-name {
				padding-left: 0.25rem;
				align-items: center;
				display: flex;
				flex-wrap: nowrap;
				justify-content: start;
				justify-self: start;
			}

			.heroic-header .heroic-button-group,
			.heroic-item .heroic-button-group {
				display: flex;
				column-gap: 3px;
				align-items: center;
				margin-right: 0.25rem;
			}

			.heroic-header .heroic-button-group {
				opacity: 0%;
			}

			.heroic-item {
				border: none;
				border-left: 1px solid var(--list-border-color);
				border-right: 1px solid var(--list-border-color);
				.heroic-item-name {
					img {
						width: 32px;
						height: 32px;
					}
				}
				.heroic-item-summary {
					border-top: 1px solid var(--list-border-color);
					border-bottom: 1px solid var(--list-border-color);
					padding: 0.5rem;
					width: 100%;
				}
			}

			.heroic-item:last-child .heroic-summary {
				border-bottom: none;
			}

			li:last-child {
				border-bottom: 1px solid var(--list-border-color);
			}

			li:nth-child(odd) {
				background-color: rgba(120, 100, 82, 0.1);
			}
		}

		section.tab.begin-project .formula-list {
			.formula-header,
			.formula-item {
				grid-template-areas: "name dc price quantity button";
				grid-template-rows: 1fr;
				grid-template-columns: 1fr 1.5rem 4.5rem 7rem max-content;
			}

			.formula-header .formula-header-name,
			.formula-item .formula-item-name {
				grid-area: name;
				justify-self: start;
				padding-left: 0.25rem;
			}

			.formula-header .formula-header-dc,
			.formula-item .formula-item-dc {
				grid-area: dc;
			}

			.formula-header .formula-header-price,
			.formula-item .formula-item-price {
				grid-area: price;
			}

			.formula-header .formula-header-quantity,
			.formula-item .formula-item-quantity {
				grid-area: quantity;
			}

			.formula-header .formula-header-button,
			.formula-item .formula-item-button {
				grid-area: button;
			}

			.formula-item .item-summary {
				grid-column: name / button;
			}
		}

		section.tab.craft-project .project-list {
			.project-header,
			.project-item {
				grid-template-areas: "name dc progress quantity buttons";
				grid-template-rows: 1fr;
				grid-template-columns: 1fr 1.5rem 11rem 4rem max-content;
			}

			.project-header .project-header-name,
			.project-item .project-item-name {
				grid-area: name;
			}

			.project-header .project-header-dc,
			.project-item .project-item-dc {
				grid-area: dc;
			}

			.project-header .project-header-progress,
			.project-item .project-item-progress {
				grid-area: progress;
			}

			.project-header .project-header-quantity,
			.project-item .project-item-quantity {
				grid-area: quantity;
			}

			.project-header .project-header-buttons,
			.project-item .project-item-buttons {
				grid-area: buttons;
			}

			.project-item .project-item-progress {
				display: grid;
				grid-template-areas: "value sep max";
				grid-template-rows: 1fr;
				grid-template-columns: 1fr 0.5rem 1fr;
				align-items: center;
				width: 100%;
				padding: 0 1rem;

				.project-item-progress-value {
					grid-area: value;
					justify-self: start;
				}
				.project-item-progress-sep {
					grid-area: sep;
					justify-self: center;
				}
				.project-item-progress-max {
					grid-area: max;
					justify-self: end;
				}
			}

			.project-item .project-item-summary {
				grid-column: name / buttons;
			}
		}

		section.tab.salvage .salvage-list {
			.salvage-header,
			.salvage-item {
				grid-template-areas: "name level dc max button";
				grid-template-rows: 1fr;
				grid-template-columns: 1fr 2.5rem 1.5rem 9rem max-content;
			}

			.salvage-header .salvage-header-name,
			.salvage-item .salvage-item-name {
				grid-area: name;
			}

			.salvage-header .salvage-header-level,
			.salvage-item .salvage-item-level {
				grid-area: level;
			}

			.salvage-header .salvage-header-dc,
			.salvage-item .salvage-item-dc {
				grid-area: dc;
			}

			.salvage-header .salvage-header-max,
			.salvage-item .salvage-item-max {
				grid-area: max;
			}

			.salvage-header .salvage-header-button,
			.salvage-item .salvage-item-button {
				grid-area: button;
			}
		}

		section.tab.salvage .item-list,
		section.tab.reverse-engineer .item-list {
			.item-header,
			.item-item {
				grid-template-areas: "name quantity bulk button";
				grid-template-rows: 1fr;
				grid-template-columns: 1fr 4rem 4rem max-content;
			}

			.item-header .item-header-name,
			.item-item .item-item-name {
				grid-area: name;
			}

			.item-header .item-header-quantity,
			.item-item .item-item-quantity {
				grid-area: quantity;
			}

			.item-header .item-header-bulk,
			.item-item .item-item-bulk {
				grid-area: bulk;
			}

			.item-header .item-header-button,
			.item-item .item-item-button {
				grid-area: button;
			}

			.item-item .item-summary {
				grid-column: name / button;
			}
		}
	}
}

.pf2e.chat-card {
	.spent-materials-list {
		display: flex;
		flex-direction: column;
		gap: 5px;
		line-height: normal;
		font-size: var(--font-size-12);
		--material-height: calc(2.5em + 2px);

		.spent-material {
			display: grid;
			grid-template-columns: var(--material-height) auto;
			grid-template-rows: 1.25em 1.25em;
			column-gap: 5px;
			row-gap: 2px;

			img {
				width: var(--material-height);
				height: var(--material-height);
				grid-row: 1 / span 2;
			}

			.spent-material-item-name {
				font-weight: bold;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}

	.project-progress {
		h4 {
			line-height: 1.5em;
			margin: 0;
		}

		.progress-bar {
			height: 16px;
			width: calc(100% - 4px);
			background-color: #6f6c66;
			border: 2px inset #000000;
			border-radius: 4px;
			margin-bottom: 4px;

			.internal-bar {
				height: 100%;
				line-height: calc(100% + 4px);
				background-color: #00f000;
				border-radius: 2px;
				span {
					margin-left: 2px;
				}
			}
		}
		.project-progress-line {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: flex-end;

			span {
				white-space: nowrap;
			}

			.seperator {
				flex-grow: 1;
				text-align: center;
			}
		}
	}

	&.salvage-result {
		.card-content {
			.item-summary {
				display: flex;
				align-items: center;
				margin-bottom: 3px;

				img {
					height: 32px;
					width: 32px;
					margin-right: 3px;
				}

				span {
					font-weight: 700;
				}

				span.common {
					color: var(--color-rarity-common);
				}

				span.uncommon {
					color: var(--color-rarity-uncommon);
				}

				span.rare {
					color: var(--color-rarity-rare);
				}

				span.unique {
					color: var(--color-rarity-unique);
				}
			}
		}
	}

	&.forage-result {
		div.card-content {
			display: grid;
			grid-template-rows: 1fr 1fr;
			grid-template-columns: max-content 1fr;
			grid-template-areas:
				"level-label level-value"
				"forage-label forage-value";
			align-items: center;

			span.content-label {
				justify-self: left;
				font-weight: 700;
			}

			span.content-value {
				justify-self: right;
			}
		}
		div.card-buttons {
			margin-bottom: 0.25rem;
		}
	}

	&.heroic-crafting div.card-buttons {
		display: flex;
		flex-basis: 100%;
		flex-direction: column;
		gap: 0.25rem;
	}
}
