.material-form {
	gap: 0.5rem;

	h4 {
		margin: 0.5rem 0 0;
	}

	label {
		line-height: normal;
	}
}

#edit-material-trove-add-sub-addSubChoice {
	list-style-type: none;
	padding: 0;
	display: flex;
	gap: 10px;
	margin: 0;

	--button-size: var(--input-height);
	--button-background-color: var(--color-cool-5-50);
	--button-border-color: var(--color-light-5);
	--button-text-color: var(--color-light-3);
	--button-focus-outline-color: var(--color-warm-2);
	--button-hover-background-color: var(--color-warm-2);
	--button-hover-border-color: var(--color-light-3);
	--button-hover-text-color: var(--color-light-1);

	input[name="addSubChoice"] {
		display: none;
	}

	li {
		flex: 1;
		margin-bottom: 0;

		label {
			display: flex;
			justify-content: center;
			align-items: center;
			height: var(--button-size);
			min-height: var(--button-size);
			gap: 0.25rem;
			padding: 0 0.5rem;
			background: var(--button-background-color);
			border: 1px solid var(--button-border-color);
			border-radius: 4px;
			color: var(--button-text-color);
			font-family: var(--font-sans);
			font-size: var(--font-size-14);
			line-height: normal;
			text-decoration: none;
			cursor: var(--cursor-pointer);
			transition: 0.5s;

			&:focus {
				outline: 1px solid var(--button-focus-outline-color);
				box-shadow: 0 0 4px var(--button-focus-outline-color);
			}

			&:hover {
				background: var(--button-hover-background-color);
				color: var(--button-hover-text-color);
				border-color: var(--button-hover-border-color);
			}

			&:has(+ input:checked) {
				background: var(--button-hover-background-color);
				color: var(--button-hover-text-color);
				border-color: var(--button-hover-border-color);
			}
		}
	}
}

.salvage-dialog {
	.drop-item-zone {
		display: flex;
		align-items: center;
		margin: 0 2px 5px;

		.item-icon {
			height: 32px;
			width: 32px;
			margin-right: 1em;
		}

		.item-level-spacer {
			margin-left: auto;
		}

		.item-level {
			margin-left: 0.5em;
			text-align: right;
			width: 17px;
		}
	}

	.details {
		max-height: 600px;
		transition: all 1s;

		&.hide {
			visibility: hidden;
			max-height: 0;
			padding: 0;
			margin: 0;
			opacity: 0;
		}

		hr {
			max-height: 20px;
			transition: all 1s;

			&.hide {
				visibility: hidden;
				max-height: 0;
				padding: 0;
				margin: 0;
				opacity: 0;
			}
		}

		.savvy-teardown {
			h4 {
				margin: 0;
			}

			max-height: 150px;
			transition: all 1s;

			&.hide {
				visibility: hidden;
				max-height: 0;
				padding: 0;
				margin: 0;
				opacity: 0;
			}
		}

		.maximum {
			h4 {
				margin: 0;
			}
		}

		.income {
			h4 {
				margin: 0.5rem 0;
			}

			.result-details {
				display: flex;
				gap: 1em;

				--input-background-color: var(--color-cool-5);
				--input-border-color: var(--color-cool-4);
				--input-text-color: var(--color-light-4);
				--color-form-label: var(--color-light-4);

				.result-group {
					display: flex;
					flex: 1;
					flex-direction: column;
					align-items: center;

					span {
						color: var(--color-form-label);
						font-weight: bold;
					}

					div {
						background: var(--input-background-color);
						border: 1px solid var(--input-border-color);
						border-radius: 4px;
						color: var(--input-text-color);
						padding: 0 0.5rem;
						line-height: var(--input-height);
						width: 100%;
					}
				}
			}
		}

		.duration {
			h4 {
				margin: 0;
			}

			max-height: 100px;
			transition: all 1s;

			&.hide {
				visibility: hidden;
				max-height: 0;
				padding: 0;
				margin: 0;
				opacity: 0;
			}
		}

		& > div:last-child {
			margin-bottom: 0.75rem;
		}
	}
}

.salvage-dialog,
.begin-project-dialog,
.reverse-engineer-dialog {
	.footer-button-panel {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		gap: 1em;

		button {
			flex: 1;
		}
	}
}

.begin-project-dialog {
	.drop-item-zone {
		display: flex;
		align-items: center;
		margin: 0;
		padding: 0.5rem 0 0;

		&.hide {
			visibility: hidden;
			max-height: 0;
			padding: 0;
			margin: 0;
			opacity: 0;
		}

		.embed-svg {
			flex: 0 0 auto;
		}

		.item-icon,
		.spell-icon {
			height: 32px;
			width: 32px;
			margin-right: 1em;
			flex: 0 0 auto;
		}

		input {
			padding: 0px;
			&:disabled {
				background-color: #00000000;
				border-color: #00000000;
				color: var(--color-text-primary);
			}
		}

		.item-level-spacer,
		.spell-rank-spacer {
			margin-left: auto;
		}

		.item-level,
		.spell-rank {
			margin-left: 0.5em;
			text-align: right;
			width: 17px;
		}
	}

	div.begin-project-summary {
		padding-bottom: 0.5rem;
		.begin-project-craft-summary {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;

			h4 {
				margin: 0;
			}

			div.input-group {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 0.5rem;

				label {
					flex: 1;
				}

				div.input-fields {
					flex: 2;

					&.batch-fields {
						display: flex;
						flex-direction: row;
						align-items: center;
						gap: 3px;

						button {
							flex: 1;
							height: var(--input-height);
						}
						input {
							flex: 8;
						}
					}
				}
			}
		}

		.begin-project-start-summary {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;

			h4 {
				margin: 0;
			}

			.begin-project-start-values-coins {
				float: right;
			}

			.money-group {
				display: flex;
				flex-direction: row;
				gap: 0.5rem;
				align-items: center;

				.input-group {
					display: flex;
					flex-direction: column;
					align-items: center;
				}
			}
		}
	}
}

.reverse-engineer-dialog {
	.drop-item-zone {
		display: flex;
		align-items: center;
		margin: 0 2px 5px;

		.item-icon {
			height: 32px;
			width: 32px;
			margin-right: 1em;
		}

		.item-level-spacer {
			margin-left: auto;
		}

		.item-level {
			margin-left: 0.5em;
			text-align: right;
			width: 17px;
		}
	}
}

.pf2e.chat-card {
	.spent-materials-list {
		display: flex;
		flex-direction: column;
		gap: 5px;
		line-height: normal;

		.spent-material {
			display: grid;
			grid-template-columns: 2em auto;
			grid-template-rows: 1em 1em;
			column-gap: 5px;
			row-gap: 2px;

			img {
				width: calc(2em + 2px);
				height: calc(2em + 2px);
				grid-row: 1 / span 2;
			}

			.spent-material-item-name {
				font-weight: bold;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}
